{
  "expo": {
    "name": "{{ app_name }}",
    "slug": "{{ app_slug }}",
    "version": "1.0.0",
    "orientation": "portrait",
    "scheme": "{{ app_slug }}",
    "userInterfaceStyle": "automatic",
    "ios": { "supportsTablet": true },
    "android": { "adaptiveIcon": { "foregroundImage": "./assets/adaptive-icon.png", "backgroundColor": "#ffffff" } },
    "plugins": ["expo-router", "expo-secure-store"]
  }
}
